  #goToTop {
    position: fixed;
    right: 10%;
    z-index: 500;
    top: 100%;
    margin-top: -50px;
        }

    #goToTop a {
    background: none repeat scroll 0 0 #dedede;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #999;
    -webkit-text-shadow: 0 1px 0 #999;
    }
