@using MvcGlobalisationSupport;
@using MWWebPage.Resources;

<div id="AddToWardrobe-modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="AddToWardrobe" class="center-block">
        <button type="button" class="btn  pull-right W-All-CB" id="close-AddToWardrobeBtn" data-dismiss="modal"><span>x</span></button>
        <div id="AddToW-tag" data-ItemId="">

        </div>
        <div id="AddToW-botton">
            <label>
                <input type="checkbox">@Global.askNoMore
            </label>
            <button id="AddtoWardrobeBtn">@Global.next</button>
        </div>
    </div>
</div>