
<!-- for the advanced search pane -->
<div style="display: none;" class="center-block" id="Categories" >

</div>

<div id="condition-list" style="display: none; width: 350px;margin:  0;padding:  0;margin:  0 auto; margin-left: -30px; text-align:  center;">
    <ul class="sub-menu" style="position: relative; padding: 0;">

    </ul>
    <div style="border-radius: 12px;">
        <input type="email" class="" id="conditionInput" placeholder="" style="display: inline !important; padding-left: 8px; border: 1px solid #F8F0F0; border-radius: 12px; width: 270px; height: 20px; background-color: #F7F7F7; border: 0px;">
        <button class="btn" id="addCondition" style="padding: 1.5px 6px;">Add</button>
    </div>
</div>