<div id="Color" style=" margin-top:-8px; display:none;" >
    <div class="center-block" style="width:220px">
    <span class="colorpicker">
        <span class="bgbox"></span>
        <span class="hexbox"></span>
        <span class="clear"></span>
        <span class="colorbox">
            <b style="background:#DC2127" title="Red" data-source='color' data-selected='False' data-catname="Red" class="cat-color"></b>
            <b style="background:#FF4500" title="Orange" data-source='color' data-selected='False' data-catname="Orange" class="cat-color"></b>
            <b style="background:#fbd75b" title="Yellow" data-source='color' data-selected='False' data-catname="Yellow" class="cat-color"></b>
            <b style="background:#7bd148" title="Green" data-source='color' data-selected='False' data-catname="Green" class="cat-color"></b>
            <b style="background:#5484ed" title="Blue" data-source='color' data-selected='False' data-catname="Blue" class="cat-color"></b>
            <b style="background:#9400D3" title="Purple" data-source='color' data-selected='False' data-catname="Purple" class="cat-color"></b>
            <b style="background:#CDC9C9" title="Gray" data-source='color' data-selected='False' data-catname="Gray" class="cat-color"></b>
            <b style="background:#000000" title="Black" data-source='color' data-selected='False' data-catname="Black" class="cat-color"></b>
        </span>
    </span>
    </div>
</div>