<div id="help_info" class="modal">
    <!-- Modal -->
    <div class="modal-dialog" id="help-info-content">
        <div id="help-info-wrap">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div id="help-info-left">
                <div id="help-info-nav">
                    <ol class="">
                        <li>
                            <a>
                                <span class="index-pointer-tip">GUIDE</span>
                                <span class="dot dot-active"></span>
                            </a>
                        </li>
                        <li >
                            <a>
                                <span class="index-pointer-tip">POLICY</span>
                                <span class="dot"></span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="index-pointer-tip">PRIVACY & TERMS</span>
                                <span class="dot"></span>
                            </a>
                        </li>
                    </ol>
                </div>

            </div>
            <div id="help-info-right">
                <h4 style="margin-top:10%;">HLEP CENTER</h4>
                <div class="line"></div>
                <section id="help-info-guide" class="active">
                    struction1
                </section>
                <section id="help-info-policy">
                    struction1
                </section>
                <section id="help-info-privacy">
                    struction1
                </section>
            </div>
        </div>
    </div>
</div>