<div id="recommend-info" class="modal">
    <!-- Modal -->
    <div class="modal-dialog" id="recommend-content">
        <div id="recommendInfo-wrap">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div class="recommend-title">
                <p class="home-font recommend-label home-font">
                    You may also like these...
                </p>
                <div class="styled-select">
                    <select class="home-font">
                        <option>Here is the first option</option>
                        <option>The second option</option>
                    </select>
                </div>
            </div>
            <div class="recomend-waterfall-container">
            </div>
            <button type="button" class="recomend-left-btn"></button>
            <button type="button" class="recomend-right-btn"></button>
            
        </div>
    </div>
</div>
