@using MvcGlobalisationSupport;
@using MWWebPage.Resources;

<div id="MoveToTags-modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="MoveToTags" class="center-block">
        <button type="button" class="btn  pull-right W-All-CB" id="close-MoveToTagsBtn" data-dismiss="modal"><span>x</span></button>
        <div id="MoveTo-tag" data-itemid="">

        </div>
        <button id="MoveToTagsBtn">@Global.enter</button>
    </div>
</div>