<div id="LoadingModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop='static' data-keybord="true">
    <img src="../Images/loading.gif" alt="loading icon" style="margin-left:49%;margin-top:25%" />
</div>